@import url(reset.css);
@import url(normalize.min.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@400;500;700&display=swap');

:root{
    --body-ff: 'Noto Sans KR', sans-serif;
    --title-ff: 'Montserrat', sans-serif;
    --body-fz: 1rem;
    --line-height: 27px;
    --primary-c: #55b954;
    --secondary-c: #f38d36;
    --white: #fff;
    --black: #000;
    --body-tc: #707070;
    --con-width: 1290px;
    --title-color: #5c5c5c;
}

/* Typography */
body{
    font-family: var(--body-ff);
    font-size: var(--body-fz);
    font-weight: 400;
    line-height: var(--line-height);
    color: var(--body-tc);
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--title-ff);
    font-weight: bold;
    color: var(--title-color);
    line-height: calc(var(--line-height)*2);
    text-transform: uppercase;
    text-align: center;
}
.banner_tt{
    font-size: calc(var(--body-fz)*4.375);
    color: var(--white);
    line-height: calc(var(--body-fz)*4.375);
    text-align: center;
    width: 1100px;
}
.content_tt{
    font-size: calc(var(--body-fz)*3);
}
.content_header{
    text-align: center;
}
.content_header:after{
    content: '';
    width: 100px;
    height: 4px;
    display: block;
    background: var(--body-tc);
    margin: var(--line-height) auto;
}
.content_header.w_color:after{
    background: var(--white);
}
.content_header.b_color:after{
    background: var(--black);
}
.content_header > p{
    font-weight: 500;
    font-size: calc(var(--body-fz)*1.125);
    margin: 0 auto;
}
.content_sub_en_tt{
    font-size: calc(var(--body-fz)*1.75);
}
.content_sub_ko_tt{
    font-family: var(--body-ff);
    font-size: calc(var(--body-fz)*1.75);
}
.banner_text{
    font-size: calc(var(--body-fz)*1.125);
    color: var(--white);
    text-align: center;
    width: 460px;
    margin: calc(var(--line-height)*2) 0 var(--line-height);
}
em{
    color: var(--primary-c);
}
a{
    text-decoration: none;
}
h4{
    font-size: calc(var(--body-fz)*1.5);
}
.s_color{
    color: var(--secondary-c);
}
.b_color{
    color: var(--black);
}
.p_color{
    color: var(--primary-c);
}
/* Buttons */
.btn{
    text-transform: uppercase;
    padding: 0 20px;
    border: 1px solid #000;
    line-height: 50px;
    border-radius: 25px;
    background: none;
}
.btn span{
    vertical-align: -6px;
}
.btn.more span{
    transform: translateX(5px);
    transition: 0.2s;
}
.btn.w_color{
    border-color: var(--white);
    color: var(--white);
}
a.btn{
    text-decoration: none;
}
.normal{
    color: #000;
}
.btn:hover{
    color: #55b954;
    border-color: #55b954;
}
.btn.more:hover span{
    transform: translateX(15px);
}
.tab_btn{
    width: 153px;
    height: 41px;
    text-align: center;
    color: var(--primary-c);
    font-size: calc(var(--body-fz)*1.125);
    line-height: 40px;
    border-radius: 20px 20px 0 0;
    border: 1px solid var(--primary-c);
    background: none;
    box-sizing: border-box;
}
.tab_btn.active, .tab_btn:hover{
    background: var(--primary-c);
    color: var(--white);
}
/* Forms */
form#search{
    width: 600px;
    height: 60px;
    border: 1px solid var(--primary-c);
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
form#search *{
    border: none;
    background: none;
    color: var(--primary-c);
    outline: none;
}
form#search input::placeholder{
    color: var(--primary-c);
    font-size: calc(var(--body-fz)*1.25);
}
form#search button span{
    font-size: calc(var(--body-fz)*2.5);
}
/* Colors */
.w_color{
    color: var(--white);
}
.primary_bg{
    background: var(--primary-c);
}
.primary_color{
    color: var(--primary-c);
}

/* Layout */
.container{
    width: 1290px;
    margin: 0 auto;
}
.hidden{
    display: none;
}
.content_pd{
    padding: calc(var(--line-height)*2) 0;
}
.container{
    width: 1290px;
}
section{
    padding: calc(var(--line-height)*2) 0;
}
/* HEADER */
.logo a{
    display: block;
    width: 180px;
    height: 46px;
    text-indent: -9999em;
    background: url(../images/logo.png) no-repeat;
}
header{
    position: absolute;
    left: 0; right: 0;
    z-index: 1;
    text-transform: uppercase;
    padding: 0 50px;
}
header .main_menu a, header .top_links a{
    color: var(--white);
}
header > .header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > .header_top .main_menu{
    display: flex;
    gap: 50px;
}
header > .header_top .main_menu .sub_menu{
    display: flex;
    gap: 50px;
    display: none;
}
header > .header_top .top_links ul{
    display: flex;
    gap: 5px;
}
header .sitemap{
    background: var(--white);
    position: absolute;
    left: 0; right: 0;
    display: none;
}
header .sitemap a{
    color: var(--body-tc);
}
header .sitemap nav .site_menu{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 450px;
}
header .sitemap nav .site_menu > li, header .sitemap nav .site_menu > li .sub_menu{
    display: flex;
    gap: 50px;
}
header.sticky{
    background: var(--white);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
header.sticky a{
    color: var(--black);
}
header a:hover{
    color: var(--primary-c);
}
header .search_form{
    height: 300px;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
header .search_form.active{
    display: block;
}
header .lang_choose{
    border: 1px solid var(--body-tc);
    background: var(--white);
    padding: 1px 15px;
    font-size: calc(var(--body-fz)*1.125);
    box-sizing: border-box;
    position: absolute;
    right: 55px;
    top: 60px;
    display: none;
}
header .lang_choose.active{
    display: block;
}

/* FOOTER */
footer{
    background: #ebebeb;
    padding: calc(var(--line-height)*2) 0;
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
}
footer img{
    width: 416px;
    height: 106px;
}
footer .company_desc .address, footer .company_desc .tel_num{
    font-size: calc(var(--body-fz)*1.875);
    font-weight: 500;
    line-height: calc(var(--line-height)*2);
}
footer .company_desc .company_site{
    display: flex;
    gap: 30px;
}
footer .company_desc .company_site .slt_box{
    width: 180px;
    height: 40px;
    border: 1px solid #c8c8c8; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 15px;
}
footer .company_desc .company_site .slt_box a{
    color: var(--body-tc);
}
footer .company_desc .company_site .slt_box ul{
    position: absolute;
    left: 0; right: 0;
    bottom: 100%;
    background: #ebebeb;
    padding: 0 10px;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
    display: none;
}
footer .footer_side{
    margin-left: 180px;
}