@import url(common.css);

/* Slide */
.slide_wrapper{
    height: 100vh;
    overflow: hidden;
    position: relative;   
}
.slide_container{
    height: 100%;
    position: absolute;
    left: 0;
    transition: left 0.3s ease-out;
    display: flex;
}
.slide_container li{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide_container .slide1{
    background-image: url(../images/slide1_bg.jpg);
}
.slide_container .slide2{
    background-image: url(../images/slide2_bg_web.png);
}
.slide_container .slide3{
    background-image: url(../images/silde3_bg.png);
}
/* Core values */
.value_contents{
    margin: 0 auto;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.value_contents > div{
    width: 300px;
    height: 400px;
    text-align: center;
    border-radius : 50px 0 50px 0;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.value_contents div .value_img{
    width: 150px;
    height: 150px;
    vertical-align: middle;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.value_contents div p{
    display: none;
}
/* Products */
.products_tt{
    font-size: calc(var(--body-fz)*2.25);
    text-transform: uppercase;
}
/* Certification */
/* Celltrion news */
.news_content{
    font-weight: 500;
}
/* IR */
.ir_tt{
    font-size: calc(var(--body-fz)*1.75);
}