@import url(common.css);

/* Slide */
.main_slide .swiper-slide{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}
.main_slide svg{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.main_slide svg line{
    stroke-width: 1px;
    stroke: var(--white);
    z-index: 10000;
}
.slide_container .swiper-slide .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.slide_container .slide1{
    background-image: url(../images/slide1_bg.jpg);
}
.slide_container .slide2{
    background-image: url(../images/slide2_bg_web.png);
}
.slide_container .slide3{
    background-image: url(../images/silde3_bg.png);
}
.swiper-button-next, .swiper-button-prev {
    color: var(--white);
}
.swiper-pagination-bullet{
    background: var(--white);
    opacity: .5;
}
.swiper-pagination-bullet-active{
    opacity: 1;
}
.main_slide .swiper-pagination{
    bottom: 50px;
}
/* Core values */
.value_contents{
    margin: 0 auto;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.value_contents > div{
    width: 300px;
    height: 400px;
    text-align: center;
    border-radius : 50px 0 50px 0;
    box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.4s ease-in-out;
}
.value_contents > div.active{
    transform: translate(-10px, -10px);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
}
.value_contents div .value_img{
    width: 150px;
    height: 150px;
    vertical-align: middle;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.value_contents div p{
    display: none;
    width: 240px;
}
.value_contents > div h4{
    transition: 0.4s ease-in-out;
}
.value_contents > div.active h4{
    transform: translateY(-20px);
}
.value_contents > div.active p{
    display: block;
}
/* Products */
.products_tt{
    font-size: calc(var(--body-fz)*2.25);
    text-transform: uppercase;
}
.products{
    display: flex;
}
.products > div{
    width: 50%;
    padding: calc(var(--line-height)*2) 0;
}
.pro_left{
    background: url(../images/product_bg.jpg) no-repeat fixed;
    display: flex;
    flex-direction: column;
    gap: 250px;
}
.pro_left .content_header p{
    width: 390px;
}
.pro_left .pro_tab ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-left: 85px;
}
.pro_left .pro_tab li{
    font-size: calc(var(--body-fz)*1.125);
    text-transform: uppercase;
    opacity: 0.5;
    cursor: pointer;
}
.pro_left .pro_tab li.active{
    opacity: 1;
}
.pro_right{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro_right > div{
    display: none;    
}
.pro_right > div.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pro_right > div ul{
    width: 600px;
    height: 300px;
    display: flex;
    overflow: hidden;
}
.pro_right .controls a{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.pro_right .controls a span{
    font-size: 70px;
    color: #a8a8a8;
}
.pro_right .controls a.prev{
    left: 15px;
}
.pro_right .controls a.next{
    right: 15px;
}
/* Certification */
.certification .content_header p{
    width: 600px;
}
.certification .iso_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 380px;
}
.certification .iso_content div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.certification .iso_content div img{
    margin-bottom: calc(var(--line-height)*2);
}
/* Celltrion news */
.news{
    background: #ebebeb;
}
.news .img_wrap{
    width: 100%;
    height: 312px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.news .img_wrap img{
    object-fit: cover;
    width: 100%;
}
.news .news_wrap{
    display: flex;
    gap: 20px;
}
.news .news_wrap > div{
    transition: 0.4s;
}
.news .news_wrap > div:nth-of-type(1){
    flex: 1;
}
.news .news_wrap > div:nth-of-type(2){
    flex: 1;
}
.news .news_wrap > div:nth-of-type(3){
    flex: 1;
}
.news .news_wrap > div .btn{
    opacity: 0;
    transform: translateY(30px);
    transition: 0.4s;
}
.news .news_wrap > div:hover{
    flex: 2;
}
.news .news_wrap > div.active .btn{
    opacity: 1;
    transform: none;
}
.news .news_wrap .news_desc{
    height: 200px;
    background: var(--white);
    padding: 30px;
    position: relative;
}
.news .news_wrap .news_desc .news_content{
    width: 360px;
    font-weight: 500;
    font-size: calc(var(--body-fz)*1.5);
    color: var(--black);
}
.news .news_wrap .news_desc .btn{
    position: absolute;
    bottom: 30px;
    right: 25px;
}
/* IR */
.ir{
    background: url(../images/ir_bg.jpg) no-repeat fixed;
    background-size: 100% 100%;
}
.ir .ir_content{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.ir .ir_tt{
    font-size: calc(var(--body-fz)*1.75);
}
.ir .graphs, .ir .content_wrap div{
    background: var(--white);
}
.ir .graphs{
    display: flex;
    gap: 242px;
    justify-content: center;
    align-items: center;
    padding: calc(var(--line-height)*2) 0;
}
.ir .graphs > div{
    position: relative;
}
.ir .graphs .unit{
    font-weight: bold;
    color: #a5a5a5;
    position: absolute;
    right: 0px;
    top: 20px;
}
.ir .graphs > div > ul{
    display: flex;
    gap: 100px;
    text-align: center;
    position: relative;
}
.ir .graphs > div > ul:after{
    content: '';
    height: 1px;
    position: absolute;
    left: -20px; right: -20px;
    bottom: 33px;
    background: #8c8c8c;
}
.ir .graphs svg{
    width: 45px;
    height: 190px;
}
.ir .graphs svg rect{
    width: 45px;
    height: 10px;
    fill: var(--primary-c);
    transform: rotate(180deg);
    transform-origin: center center;
}
.ir .content_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.ir .content_wrap div{
    padding: var(--line-height) 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ir .content_wrap div > span{
    font-size: 120px;
}
/* ABOUT */
.about_banner{
    height: 100vh;
    background: url(../images/about_banner_bg.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--line-height);
}
.about_banner .banner_desc1{
    width: 570px;
    font-size: 33px;
    font-weight: 500;
    line-height: 40px;
    margin-left: -300px;
    transform: translateX(-50px);
    opacity: 0;
    animation: fade_banner1 0.5s ease-in-out forwards;
}
@keyframes fade_banner1 {
    0%{transform: translateX(-50px);opacity: 0;}
    100%{transform: none;opacity: 1;}
}
.about_banner .banner_desc2{
    font-size: calc(var(--body-fz)*1.125);
    font-weight: 500;
    width: 625px;
    margin-left: 250px;
    transform: translateX(50px);
    opacity: 0;
    animation: fade_banner2 0.5s 0.5s ease-in-out forwards;
}
@keyframes fade_banner2 {
    0%{transform: translateX(50px);opacity: 0;}
    100%{transform: none;opacity: 1;}
}
.about_desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_desc img{
    width: 55px;
    height: 55px;
    margin-bottom: var(--line-height);
}
.about_desc p{
    width: 610px;
    text-align: center;
    font-size: 33px;
    font-weight: 500;
    line-height: 40px;
}
.glance_list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glance_list > div{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.glance_list div .img_wrap{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glance_list div .glance_tt{
    font-size: calc(var(--body-fz)*1.75);
    line-height: calc(var(--line-height)*2);
    font-weight: 500;
}
.glance_list div .glance_num{
    font-size: calc(var(--body-fz)*2);
    font-weight: 500;
    line-height: calc(var(--line-height)*2);
}
/* CAREERS */
.careers .content_header, .location .content_header, .greeting .content_header{
    margin: 90px 0 calc(var(--line-height)*3);
}
.careers .career_list > div{
    display: flex;
    gap: 135px;
    justify-content: center;
    align-items: center;
}
.careers .career_list .img_wrap{
    width: 305px;
    height: 242px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.careers .career_list .img_wrap:before{
    content: '';
    display: block;
    position: absolute;
    left: 0; right: 0; top: 0;
    width: 305px;
    height: 3px;
    background: #a8a8a8;
}
.careers .career_list .careers_desc .career_tt{
    text-align: left;
    color: var(--black);
    font-size: calc(var(--body-fz)*2);
    font-weight: 500;
    line-height: calc(var(--line-height)*2);
}
.careers .career_list .careers_desc .career_txt{
    width: 550px;
}
/* GREETING */
.greeting_image{
    width: 100%;
    position: relative;
}
.greeting_image img{
    width: 100%;
}
.greeting_image .img_txt{
    position: absolute;
    left: calc(50% - 648px); top: 0; bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: var(--line-height);
}
.greeting_image .img_txt .greeting_tt{
    font-size: calc(var(--body-fz)*3);
    color: var(--primary-c);
}
.greeting_image .img_txt .image_text{
    font-size: calc(var(--body-fz)*1.75);
    margin-left: 25px;
}
.greeting_image .img_txt .name{
    margin-left: 25px;
}
.ceo .greeting_image .img_txt{
    left: 50%;
}
.greeting_msg{
    display: flex;
    flex-direction: column;
    gap: var(--line-height);
    padding-top: calc(var(--line-height)*2);
}
.greeting_msg p{
    width: 890px;
}
.greeting_container{
    display: none;
}
.greeting_container.active{
    display: block;
}
/*  LOCATION */
.location .location_content{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: calc(var(--line-height)*2);
}
.location .location_content #map{
    width:1296px;
    height:486px;
}
.location .location_content .addrbox > div{
    flex-direction: column;
    gap: var(--line-height);
    display: none;
}
.location .location_content .addrbox > div.active{
    display: flex;
}
.location .location_content .addrbox dl{
    display: flex;
    gap: 100px;
    align-items: center;
}
.location .location_content .addrbox dl *{
    vertical-align: middle;
}
.location .location_content .addrbox dt span{
    color: var(--primary-c);
    font-size: calc(var(--body-fz)*3);
    margin-right: 20px;
}
.location .location_content .addrbox dt{
    color: var(--primary-c);
    font-size: calc(var(--body-fz)*1.125);
    font-weight: bold;
    width: 200px;
}
.location .location_content .addrbox dd{
    font-size: calc(var(--body-fz)*1.125);
    text-align: left;
    width: 600px;
}
.location .location_content .addrbox .express_bus dd{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.location .location_content .addrbox .bus_num{
    color: var(--secondary-c);
    font-weight: bold;
}